body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer,
.block1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 150px;
    gap: 150px;
    padding: 20px;
    flex-wrap: wrap;
}

.b1-content {
    display: flex;
    gap: 50px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    gap: 300px;
    flex-wrap: wrap;
}

.home-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

input {
    width: 300px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

a, 
.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.b1-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.b1-content button {
    width: 200px;
    font-size: 20px;
}


.img-b2 {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 150px;
    
}

.img1, .img2, .img3, .img4 {
    text-align: center;
    width: 400px;
    height: 400px;
}

.block2 img {
    border: 5px solid #3882F6;
    border-radius: 25px; 
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 70px;
}



.block3 {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}

.quote-container {
    max-width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding: 100px;
}

.quoter {
    text-align: end;
}

.block4 {
    display: flex;
    justify-content: center;
}


.b4-container {
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    color: #f9faf8;
    padding: 50px;
}

.call-container {
    border: 1px solid black;
}

.call-text {
    font-size: 24px;
    font-weight: bold;
}

.call-subtext {
    width: 700px;
}

.b4-container button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 25px;
    border: 1px solid #f9faf8;
    flex: 0;
    min-width: 100px;
    margin: 0;
    padding: 0;
}