body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer,
.block1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 150px;
    gap: 250px;
    padding: 20px;
    flex-wrap: wrap;
}

.open {
    text-decoration: none;
}

.popup {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .1s ease-in-out;
}

.popup-inner {
    transition: .1s ease-in-out;
    bottom: -50vw;
    right: -50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.popup-text {
    display: flex;
    flex-direction: column;
}

.popup-text input {
    padding: 7px;
    margin-bottom: 5px;
}

.popup-text a {
    text-decoration: none;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    transform: rotate(0);
    bottom: 0;
    right: 0;
}

.option-popup {
    display: flex;
    gap: 10px;
}

.close-popup,
.sign-popup {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 7px;
    z-index: 4;
    background-color:#3882F6;
    line-height: 2rem;
    color:#f9faf8;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}



.b1-content {
    display: flex;
    gap: 50px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    gap: 300px;
    flex-wrap: wrap;
}

.home-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

input {
    width: 300px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

a, 
.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.b1-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.b1-content button {
    width: 250px;
    font-size: 19px;
    border-radius: 7px;
    background-color: #3882F6;
    color: #f9faf8;
    border: #3882F6;
    font-weight: bold;
    padding: 10px;
}


.img-b2 {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 150px;
    
}

.img1, .img2, .img3, .img4 {
    text-align: center;
    width: 400px;
    height: 400px;
}

.block2 img {
    border: 5px solid #3882F6;
    border-radius: 25px; 
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 70px;
}



.block3 {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}

.quote-container {
    max-width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding: 100px;
}

.quoter {
    text-align: end;
}

.block4 {
    display: flex;
    justify-content: center;
    padding: 150px;
}


.b4-container {
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    color: #f9faf8;
    padding: 50px;
}

.call-text {
    font-size: 24px;
    font-weight: bold;
}

.call-subtext {
    width: 700px;
}

.b4-container button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 7px;
    border: 2px solid #f9faf8;
    width: 150px;
    margin: 20px 0;
    padding: 5px;
    font-weight: bold;
    font-size: 19px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #f9faf8;
}

button {
    transition-duration: 0.3s;
}

button:hover {
    background-color:black;
}

a:hover {
    color: black;
}